<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: layout(~{::title}, ~{::#content})}">
<head>
    <title>Dashboard - Simulador Institucional</title>
</head>
<body>
    <div id="content" class="card p-4">
        <h2 class="text-warning">Bienvenido, <span th:text="${username}">Usuario</span></h2>
        <p>Has iniciado sesión correctamente en el Simulador de Phishing.</p>
        <a th:href="@{/logout}" class="btn btn-danger">Cerrar Sesión</a>
    </div>
</body>
</html>
