<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: layout(~{::title}, ~{::#content})}">
<head>
    <title>Registro - Proceso Seguro</title>
</head>
<body>
    <div id="content" class="card p-4 col-md-6 mx-auto">
        <h2 class="text-warning">Registro de Nuevo Usuario</h2>
        <form th:action="@{/register}" th:object="${registerRequest}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label class="form-label">Nombres:</label>
                    <input type="text" th:field="*{nombres}" class="form-control" placeholder="Ej. Juan" />
                    <p class="text-danger" th:if="${#fields.hasErrors('nombres')}" th:errors="*{nombres}"></p>
                </div>
                <div class="mb-3 col-md-6">
                    <label class="form-label">Apellidos:</label>
                    <input type="text" th:field="*{apellidos}" class="form-control" placeholder="Ej. Pérez" />
                    <p class="text-danger" th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}"></p>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Correo Institucional:</label>
                <input type="email" th:field="*{correo}" class="form-control" placeholder="juan.perez@itm.edu.co" pattern=".*@itm\.edu\.co$" title="Debe ser un correo institucional (@itm.edu.co)" />
                <p class="text-danger" th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"></p>
            </div>
            <div class="mb-3">
                <label class="form-label">Contraseña:</label>
                <input type="password" th:field="*{contrasena}" class="form-control" placeholder="********" />
                <p class="text-danger" th:if="${#fields.hasErrors('contrasena')}" th:errors="*{contrasena}"></p>
            </div>
            <div class="mb-3">
                <label class="form-label">Rol:</label>
                <input type="text" class="form-control" value="Estudiante" readonly />
            </div>
            <div class="mb-3">
                <label class="form-label">Estrato:</label>
                <select th:field="*{idEstrato}" class="form-control" required>
                    <option value="">Seleccione un estrato</option>
                    <option th:each="estrato : ${estratos}" th:value="${estrato.id}" th:text="${estrato.descripcion}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary w-100">Registrar Cuenta</button>
        </form>
    </div>
</body>
</html>